body {
	position: relative;
	width: 100vw;
	margin: 0;
	padding: 0;
}
/* page paralex efeect */
.page-container {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scrollbar-width: none;
}
.pages {
	width: 100%;
	height: 100vh;
	scroll-snap-align: start;
}

.page1 {
	display: flex;
	justify-content: center;
	/* background: linear-gradient(180deg, #0271c1, #f9b55c); */
	background-image: url(./img/bg.jpeg);
}

/* page paralex efeect end */
.page-slider {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* color: white; */
	width: 80vw;

	position: relative;
}
.page-slider .image-container {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	width: 100%;
	height: 45vh;
	padding: 0 70px;
	animation: fadeIn 1s;
	transform: translate(0, 10vh);
}
.page-slider .image-container img {
	height: 80%;
	width: auto;
	margin-top: 5%;
}
.page-slider .image-container img:last-of-type {
	height: 110%;
	width: auto;
	margin: 0 50px 0 0;
}
.slider-content {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 40%;
	align-items: center;
	/* transform: translateY(100%); */
	animation: fadeIn 1s ease-in;
}
.slider-heading-text-1 {
	font-size: 6rem;
	font-weight: 900;
	text-shadow: 4px 4px #0b0707;
	color: white;
}
.slider-heading-text-2 {
	font-size: 3rem;
	font-weight: 900;
	text-shadow: 4px 4px #0c0a00;
	color: var(--buff2);
}
.slider-heading-text-3 {
	font-size: 9rem;
	font-weight: 900;
	text-shadow: 4px 4px #000305;
	color: var(--blue2);
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.page2 {
	background: linear-gradient(454deg, #404c80, #e64c04);
}
.page3 {
	background: linear-gradient(454deg, #9574ff, #ff5353);
}
