@media only screen and (max-width: 600px) {
	body {
		overflow-x: hidden;
	}
	.header--nav--top {
		display: none;
	}
	.header--nav--main {
		margin: 4vw;
		align-items: flex-start;
		position: relative;
	}
	.header--nav--main nav {
		display: none;
		justify-content: flex-start;
		position: absolute;
		top: 15vw;
		width: 100vw;
	}
	.header--nav--main nav .menu .dropdown {
		padding: 15px 100px;
	}
	.header--nav--main .burger-icon {
		display: block;
		color: white;
	}

	.header--nav--main .mobile-menu-on {
		display: flex;
		flex-direction: column;
		gap: 25px;
		& .menu {
			flex-direction: column;
			background-color: var(--blue);
		}
	}
	.header--nav--main .menu li {
		display: block;
	}
	/* page paralex efeect end */
	.page-slider {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		/* color: white; */
		width: 80vw;

		position: relative;
	}
	.page-slider .image-container {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
		width: 100%;
		height: 45vh;
		padding: 0;
		animation: fadeIn 3s;
		transform: translate(0, 10vh);
	}

	.page-slider .image-container img:first-of-type {
		height: 40%;
		width: auto;
		margin: 4vh 0 0 0;
	}

	.page-slider .image-container img:last-of-type {
		height: 60%;
		width: auto;
		margin: 2vh;
	}

	.slider-heading-text-1 {
		font-size: 4rem;
		font-weight: 900;
		text-shadow: 4px 4px #0b0707;
		color: white;
	}
	.slider-heading-text-2 {
		font-size: 2.6rem;
		font-weight: 900;
		text-shadow: 4px 4px #0c0a00;
		color: var(--buff2);
	}
	.slider-heading-text-3 {
		font-size: 6.5rem;
		line-height: 130px;
		font-weight: 900;
		text-shadow: 4px 4px #000305;
		color: rgb(5, 86, 199);
	}
	.page3 img {
		background-position: center;
	}
}
